.input-field {
    display: inline-block;
    padding: 9px;
    border-radius: 7px;
    box-shadow: 0 0 9px 2px #141414;
    margin: 12px 0;
    width: 100%;
    background-color: #212121;
    color: gray;
}

.input-field {
    @apply w-full px-4 py-3 mb-4 rounded-md border border-gray-300 text-sm placeholder-gray-500 text-gray-700 focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent shadow-sm bg-white;
}

.primary-button {
    @apply px-6 py-3 font-semibold rounded-md text-white flex items-center gap-2 border-2 border-primary bg-primary hover:bg-transparent hover:text-primary hover:border-primary transition-all duration-300 ease-in-out mt-2;
}

.input-field:focus {
    outline: none;
    box-shadow: 0 0 5px 2px #FF651C;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition:
        background-color 600000s 0s,
        color 600000s 0s;
}

input[data-autocompleted] {
    background-color: transparent !important;
}